# Web Programming in Java

## MySQL Database 
https://www.mysql.com/

### General Tips
* SQL conventions: https://www.sqlstyle.guide/
* commands end with semicolon; 
* itâ€™s not case-sensitive; 
* **convention**: MySQL keywords are given in upper case; 
* names specified by user are given in lower case; 
* fields of the type string (`VARCHAR`) have values given inside single quotation marks; 
* dates should be given between single quotation marks  and obey the pattern: `YYYY-mm-dd`;
* to record the current date, we use: `CURDATE()`
* by default, MySQL runs in autocommit on mode. This means that when we modify the table, MySQL stores the changes in the hard drive permanently; 
* MySQL does not offer embedded mode. 
    
### Installation (for Linux)
      
1. Install MySQL from terminal: 
```linux
$ sudo apt-get install mysql-server
```

2. Check if MySQL is running:
```linux
$ sudo netstat -tap | grep mysql	
```

### Main commands
       
       
1. Check MySQL version:

    `$ mysql -V`


2. Start MySQL:

    `$ mysql -u root`

    OR (if password is required), use:
    
    `$ mysql -u root -p`


3. Create a database:

    `mysql> create database webprog;`


4. Allow access to a user and password from `localhost`:

    `mysql> grant usage on *.* to webproguser@localhost identified by 'webprogpasswd';`


5. Grant all privileges to the user:

    `mysql> grant all privileges on webprog.* to webproguser@localhost;`


6. Show all existing databases:

    `mysql> show databases;`


7. Select a database to use:

    `mysql> use webprog;`


8. Show MySQL status (running or stopped):

    `$ service mysql status`


9. Quit MySQL:

    `$ service mysql stop`


10. Start MySQL:
    
    `$ service mysql start`


11. Erase a table permanently:

    `mysql> drop table students;`


12. Add columns to a table:

    `mysql> alter table students add (create_clause1, create_clause2,...);`


13. Show all tables in a database:

    `mysql> show tables from webprog;`


14. Describe a table and its properties:

    `mysql> describe students;`
       
       
### Main commands to modify a database

1. Create a table: 
```sql
    CREATE TABLE students (								
                 id      BIGINT NOT NULL AUTO_INCREMENT, 
                 name    VARCHAR(255), 
                 email   VARCHAR(255), 
                 address VARCHAR(255), 
                 PRIMARY KEY (id) 
    );
```

2. Insert a new record: 
```sql
    INSERT INTO students (name, email, address) 
         VALUES ('Paul', 'paul@gmail.com', 'Rue Viau'); 
```

3. Update a record:
```sql
    UPDATE students 
       SET name = 'Martine' 
     WHERE id = 1; 
```

4. Remove a record: 
```sql
    DELETE FROM students 
          WHERE id = 1; 
```

5. Search for a record: 
```sql
    SELECT name 
      FROM students 
     WHERE id = 2; 
```

6. List records: 
```sql
      SELECT * 
        FROM students 
    ORDER BY name;        
```

7. Remove `column_name` from a table:
```sql
    ALTER TABLE students 
           DROP column_name;
```